---
output-file: 1-events.html
title: 1-events
---

# Events dataset  

Events Informations of the Human Phenotype Project study participants including birth month and year, sex and visits information.

### Data availability:

- events.parquet - also contains information regarding participant visits and calls

In [ ]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [ ]:
from pheno_utils import PhenoLoader

In [2]:
dl = PhenoLoader('events')
dl

DataLoader for events with
10 fields
1 tables: ['events']

# Data dictionary

In [3]:
dl.dict

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
month_of_birth,Month of birth,Month of birth,NaN,/population/events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
year_of_birth,Year of birth,Year of birth,NaN,/population/events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
sex,Sex,Sex,NaN,/population/events.parquet,Categorical (single),None,NaN,Data,No,10K,Tabular,2019-01-01,int
research_stage_type,Research stage type,The type of the research stage,NaN,/population/events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,int
visit_center,Visit center,The name of the assessment center,NaN,/population/events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,int
research_stage_timestamp,Timestamp of research stage,The timestamp of the research stage. For examp...,NaN,/population/events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,"datetime64[ns, Asia/Jerusalem]"
research_stage_date,Date of research stage,"The date of the research stage. For example, i...",NaN,/population/events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,datetime64[ns]
age_at_research_stage,Age at research stage,The age of the participant during the research...,NaN,/population/events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,float
study_id,Study ID,The study identifier,NaN,/population/events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,int
timezone,Timezone,Timezone,NaN,/population/events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,string