---
output-file: 16-blood_tests.html
title: 16-blood_tests
---

# Blood tests dataset

The lab tests in this data set of the Human Phenotype Project are based on tests performed to participants in the community as part of their regular medical care at their HMO (Health Maintenance Organization). Participants are asked to upload their blood/urine tests done at their HMOs from previous years. These tests range from the very common CBC and chemistry tests, Vitamins levels to the standard PCRs for infectious diseases all the way to rare tests requiring the user to measure urine for 24h.

### Data availability:
The information is stored in 1 parquet file `blood_tests.parquet`.

In [ ]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [ ]:
from pheno_utils import PhenoLoader

In [2]:
dl = PhenoLoader('blood_tests')
dl

DataLoader for blood_tests with
67 fields
2 tables: ['blood_tests', 'age_sex']

# Data dictionary

In [3]:
dl.dict

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
hmo,HMO,One of 4 Isreali HMOs,NaN,/blood_tests/blood_tests.parquet,Categorical (multiple),None,NaN,tabular,Single,10K,NaN,2015-01-01,categorical
collection_date,Collection date,Collection date,NaN,/blood_tests/blood_tests.parquet,Time,None,NaN,tabular,Single,10K,NaN,2015-01-01,datetime64[ns]
bt__albumin_float_value,Blood test - Albumin (Numerical),Albumin,NaN,/blood_tests/blood_tests.parquet,Continuous,g/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float
bt__alkaline_phosphatase_float_value,Blood test - Alkaline Phosphatase (Numerical),ALKP - Alkaline Phosphatase,NaN,/blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float
bt__alt_float_value,Blood test - ALT (Numerical),ALT (GPT) - Alanine Aminotransferease,NaN,/blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float
...,...,...,...,...,...,...,...,...,...,...,...,...,...
urine__acr_categorical_value,Urine test - ACR (Categorical),ACR - Albumin / Creatinine Ratio,NaN,/blood_tests/blood_tests.parquet,Categorical (multiple),None,NaN,tabular,Single,10K,NaN,2015-01-01,categorical
urine__acr_float_value,Urine test - ACR (Numerical),ACR - Albumin / Creatinine Ratio,NaN,/blood_tests/blood_tests.parquet,Continuous,mg/g creatinine,NaN,tabular,Single,10K,NaN,2015-01-01,float
urine__creatinine_float_value,Urine test - Creatinine (Numerical),Creatinine,NaN,/blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float
urine__microalbumin_categorical_value,Urine test - Microalbumin (Categorical),Microalbumin,NaN,/blood_tests/blood_tests.parquet,Categorical (multiple),None,NaN,tabular,Single,10K,NaN,2015-01-01,categorical
urine__microalbumin_float_value,Urine test - Microalbumin (Numerical),Microalbumin,NaN,/blood_tests/blood_tests.parquet,Continuous,mg/l,NaN,tabular,Single,10K,NaN,2015-01-01,float