---
output-file: 17-cgm.html
title: 17-cgm
---

# CGM dataset  

Continuous Glucose Monitoring (CGM) measures glucose levels in a continuous manner.  <br>
This measure provides information on blood glucose control and glucose variability and could be used to monitor patients with diabetes.

Each 14-day continuous measure is termed a single CGM-connection.

Using the glucose measured in the CGM connection we can calculate summary features (which was done using the iglu package) summarizing information on glucose control and variability. <br>
These were calculated for the entire CGM connection as well as for daily segments of the data.

The actual glucose measures are stored in multiple parquet files, each file holds the glucose measures for a single CGM connection. <br>

### Data availability:
The metadata and summary features are stored in 2 main statistics parquet files: `main.parquet`, `daily_iglu.parquet`.

In [ ]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [ ]:
from pheno_utils import PhenoLoader

In [2]:
dl = PhenoLoader('cgm')
dl

DataLoader for cgm with
96 fields
3 tables: ['main_cgm', 'daily_iglu', 'age_sex']

# Data dictionary
For some datasets, we can also take a look at the data dictionary

In [3]:
dl.dict

                              field_string  ...                    pandas_dtype
tabular_field_name                          ...
connection_id                 ConnectionID  ...                             int
cgm_filename                CGM timeseries  ...                          string
glucose                            Glucose  ...                           float
collection_timestamp  Collection timestamp  ...  datetime64[ns, Asia/Jerusalem]
cgm_first_date              CGM first date  ...  datetime64[ns, Asia/Jerusalem]
...                                    ...  ...                             ...
daily_median                  Daily Median  ...                           float
daily_range                    Daily Range  ...                           float
daily_sd                          Daily SD  ...                           float
daily_sd_roc                  Daily SD.Roc  ...                           float
daily_sdwsh                    Daily SDwsh  ...                           float

[101 rows x 13 columns]